@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../Fonts/CaviarDreams-webfont.eot');
    src: url('../Fonts/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/CaviarDreams-webfont.woff') format('woff'),
         url('../Fonts/CaviarDreams-webfont.ttf') format('truetype'),
         url('../Fonts/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../Fonts/Caviar_Dreams_Bold-webfont.eot');
    src: url('../Fonts/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('../Fonts/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('../Fonts/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*Fuentes de Iconos*/
@font-face {
	font-family: 'icomoon';
	src:url('../Fonts/icomoon.eot?-lkdx7p');
	src:url('../Fonts/icomoon.eot?#iefix-lkdx7p') format('embedded-opentype'),
		url('../Fonts/icomoon.woff?-lkdx7p') format('woff'),
		url('../Fonts/icomoon.ttf?-lkdx7p') format('truetype'),
		url('../Fonts/icomoon.svg?-lkdx7p#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-notifications:before {
	content: "\e600";
}
.icon-pencil:before {
	content: "\e601";
	margin-right: 0.5em;
}
.icon-galery:before {
	content: "\e602";
}
.icon-headphones:before {
	content: "\e603";
}
.icon-camera:before {
	content: "\e604";
}
.icon-cart:before {
	content: "\e605";
}
.icon-cog:before {
	content: "\e606";
}
.icon-star:before {
	content: "\e607";
	margin-right: 0.5em;
	position: relative;
	top: 0.1em;
}
.icon-star2:before {
	content: "\e608";
}
.icon-heart:before {
	content: "\e609";
	color: #f03a48;
}
.icon-thumbs-up:before {
	content: "\e60a";
}
.icon-thumbs-down:before {
	content: "\e60b";
}
.icon-exit:before {
	content: "\e60c";
}
.icon-googleplus:before {
	content: "\e60d";
}
.icon-googleplus2:before {
	content: "\e60e";
}
.icon-facebook:before {
	content: "\e60f";
}
.icon-facebook2:before {
	content: "\e610";
}
.icon-twitter:before {
	content: "\e611";
}
.icon-twitter2:before {
	content: "\e612";
}
.icon-github:before {
	content: "\e613";
}

a
{
	color: #22BCE0;
}

aside
{
	display: none;
}

body
{
	background-color: #EEEEEE;
	font-family: 'caviar_dreamsregular';
	font-size: 16px;
}

footer
{
	background-color: #22BCE0;
	color: rgba(255,255,255,0.7);
	padding: 1em;
	text-align: center;
}

footer p:first-child
{
	margin-bottom: 0;
}

footer p:last-child
{
	margin-top: 0;
}

footer p:last-child:after
{
	content: " -"
}

footer p:last-child:before
{
	content: "- "
}

header
{
	background-color: #2a2a25;
	color: white;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
}

header figure
{
	float: left;
}

header h1
{
	font-size: 1.8em;
	font-weight: normal;
	margin: 0.8em 2em 0 3em ;
}



header #Avatar
{
	margin: 0.7em 0.7em 0 0;
	position: absolute;
	right: 0;
	top: 0;
}

header #Avatar img
{
	border-radius: 50%;
	width: 50px;
	border: 3px solid #F3502A;
}

header #Logo
{
	border-right: 1px solid white;
	padding-right: 0.5em;
	margin-left: 0;
	margin-right: 0.5em;
}

header #Logo img
{	
	width: 80px;
}

header #Logo img:hover
{ 
	-webkit-transform: rotate(360deg);
	-webkit-transition:0.8s;
}

nav
{
	background-color: #21afd9;
	position: relative;
}

nav ul
{
	line-height: 20px;
	list-style: none;
	margin: 0;
	padding: 0 7em 0 0.5em;
	overflow-x: auto;
	white-space: nowrap;
}

nav ul li
{
	display: inline-block;
	margin: 0 2em 0 0;
}

nav ul li a
{
	color: white;
	display: block;
	padding: 0.5em;
	text-decoration: none;
	-webkit-transition: 0.3s;
}
nav ul li a:hover
{
	color: black;
	background-color: rgba(255,255,255,0.7);
}

nav ul #Publicar_Nav 
{
	position: absolute;
	margin: -1.8em 0.5em ;
	right: 0;
	top: -0.1em;
}

nav ul #Publicar_Nav a
{
	background-color: #fec209;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	font-style: italic;
	padding: 0.6em 0.8em;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;
}

nav ul #Publicar_Nav a:hover
{
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
}

section{
	margin: 1em;
}

#Contenido .Item
{
	background-color: white;
	border-bottom: 3px solid #22BCE0;
	margin-bottom: 3em;
	min-height: 128px;
	position: relative;
}

#Contenido .Item .Autor_Item
{
	color: #AAA;
}

#Contenido .Item .Datos_Item
{
	margin: 1em 1em 0 0;
}

#Contenido .Item .Datos_Item .Fecha_Item
{
	color: #AAA;
	float: right;
}

#Contenido .Item .Datos_Item .Tag_Item
{
	background-color: #F3502A;
	border-radius: 0.5em;
	color: white;
	display: inline-block;
	padding: 0.2em 0.5em;
	text-decoration: none;
}

#Contenido .Item .DaftPunk_Item
{
	float: left;
	margin-right: 1em;
}

#Contenido .Item .DaftPunk_Item img
{
	width: 96px;
}

#Contenido .Item .Titulo_Item
{
	font-family: 'caviar_dreamsbold';
	font-size: 1.1em;
	font-style: italic;
	margin-top: -0.5em;
	padding: 1em 1em 0 0;
}

#Contenido .Item .Titulo_Item a
{
	color: #444;
	text-decoration: none;
}

#Contenido .Item .Titulo_Item a:hover
{
	color: #43a9ff;
}

#Contenido .Item .Votacion
{
	background-color: white;
	border-radius: 0 0 0.5em 0.5em;
	left: 3%;
	margin-top: 3px;
	padding: 0.5em 1em;
	position: absolute;
	right: 3%;
	top: 100%;
}

#Contenido .Item .Votacion a
{
	text-decoration: none;
}

#Contenido .Item .Guardar_Item
{
	color: #ffe849
}

#Contenido .Item .Votacion .Down
{
	color: #ff000e;
}

#Contenido .Item .Votacion .Up
{
	color: #13c80d;
}


#Contenido .Item .Votacion .Comentarios_Item,
#Contenido .Item .Votacion .Guardar_Item
{
	float: right;
}

/* Informacion */

#Contenido .album_info{
	background-color: white;
	overflow: hidden;
	position: relative;
	padding: 0.5em;
	margin-bottom: 3em;
}

#Contenido .album_info .album_img{
	float: left;
	margin-right: 1em;
}

#Contenido .album_info .album_img img{
	width: 350px;
	border: solid white 5px;
	box-shadow: rgba(0,0,0,0.5) 2px 2px 10px;
}

#Contenido .album_info .album_datos .votacion_album {
	float: right;
	margin-right: 1em;
}

#Contenido .album_info .album_datos .votacion_album a{
	color: #ffdb1f;
	text-decoration: none;
}

#Contenido .album_info .album_datos .votacion_album a:nth-child(5){
	margin-right: 1em;
}

#Contenido .album_info .social .redes{
	margin-right: 1em;
	bottom: 2em;
	position: absolute;
	right: 3%;
}

#Contenido .album_info .social .redes a{
	text-decoration: none;
	font-size: 1.5em;
	color: #3a3a32;
}

#Contenido .album_info .social .redes span{
	margin-right: 0.5em;
}

#Contenido .album_info .social .redes .facebook:hover{
	color: #344c8b;
}

#Contenido .album_info .social .redes .twitter:hover{
	color: #4799ea;
}

#Contenido .album_info .social .redes .google:hover{
	color:#a11d19;
}

.album_title
{
	font-size: 1.5em;
	margin: 1em 0 0 0;
}

/* TrackList */

#multimedia{
	background-color: white;
	padding: 1em;
	margin-bottom: 3em;

}

#multimedia .title_sections{
	border-bottom: solid #21afd9 2px;
	overflow: hidden;
}

#multimedia .title_sections a{
	text-decoration: none;
	color: black;
	font-size: 2.5em;
	margin: 0.3em 0.5em 0 0;
	float: left;
}

#multimedia .title_sections a:nth-child(1){
	text-decoration: none;
	font-size: 2em;
	margin: 0.5em 0.5em 0 0;
	float: right;
}

#multimedia .title_sections h2{
	display: inline-block;
}

#multimedia .title_sections .sitio_oficial{
	float: right;
	font-size: 2em;
}

#multimedia .title_sections .sitio_oficial:hover{
	color: #f03a48;
	
}

#multimedia .title_sections .button_comprar{
	background-color: #44c767;
	border-radius: 1.6em;
	border: 2px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color: #fff;
	font-size: 1.1em;
	float: right;
	padding: 0.5em 1em;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	margin-top: 0.5em;
}

#multimedia .title_sections .button_comprar:hover{	
	border: 2px solid #0d691a;
	text-shadow: rgba(0,0,0,0.8) 2px 2px 10px;
}


#multimedia .musica1{
	display: inline-block;
}

#multimedia .musica2 {
	float: right;
	margin-right: 1.5em;

}

#multimedia .musica1 ol{
	counter-reset: li; 
}

#multimedia .musica2 ol{
	counter-reset: li 7; 
}

#multimedia .musica1 ol, #multimedia .musica2 ol{
	margin-left: 0; 
	padding-left: 0
}

#multimedia .musica1 ol li, #multimedia .musica2 ol li{
	position: relative;     
	margin: 1.2em 0 1.2em 2em !important; 
	padding: 4px 8px !important; 
	list-style: none; 
	list-style: decimal; 
}

#multimedia .musica1 ol li:before, #multimedia .musica2 ol li:before{
	background: url(../img/circulo1.png) no-repeat left top; 
	content: counter(li); 
	counter-increment: li; 
	position:absolute; 
	top: 0; 
	left: -2em; 
	width: 27px; 
	bottom: -1px;
	margin-right: 8px; 
	padding: 3px 1px 4px 0 !important; 
	color: #fff;
	font-size: 1em; 
	font-weight: bold; 
	text-align: center
}

audio{
	width: 600px;
}

/*Galery*/
#multimedia .imagenes .img_galery{
	display: inline-block;
}

#multimedia .imagenes .img_galery img{
	width: 250px;
	border: solid white 3px;
	box-shadow: rgba(0,0,0,0.5) 2px 2px 10px;
}

#multimedia .imagenes .img_galery img:hover{
	-webkit-transform: rotate(360deg);
	-webkit-transition:1s;
}

/*Vídeos*/

#multimedia .videos{
	display: block;
	margin: 1em 0 0 1em;
}

#multimedia .videos iframe{
	margin-right: 1em;
}

#multimedia .title_sections #h2video{
	margin-right: 43em;
}

@media screen and (max-width: 480px) {
	aside
	{
		display: block;
		margin: 1em;
	}

	aside video
	{
		margin: 0 0 2em 0;
		width: 100%;
	}
	
	#Contenido .Item{
		margin-bottom: 4em;
	}

	#Contenido .album_info .album_img{
		display: block;
		margin: 1em;
	}
	
	#Contenido .album_info .album_img img{
		width: 100%;
		margin-right:  0 0 2em 0
	}
	
	.album_title{
		text-align: center;
		margin-bottom: 1em;
	}
	#Contenido .album_info .album_datos .votacion_album{
		display: none;
	}
	
	#Contenido .album_info .social .redes{
		bottom: 0.3em;
		position: absolute;
		right: 2%;
	}

	#Contenido .album_info .social .redes span{
		display: none;
	}
}


@media screen and (min-width: 800px) {
	#Contenido
	{
		overflow: hidden;
	}

	#Contenido .Item
	{
		float: left;
		width: 49%;
	}

	#Contenido .Item:nth-child(odd)
	{
		margin-right: 2%;
	}
}

@media screen and (min-width: 1000px){
	aside
	{
		display: block;
		float: right;
		margin: 1em;
		width: 25%;
		margin-bottom: -1px;
	}

	aside video
	{
		margin: 0 0 2em 0em;
		width: 100%;
	}
}

/* Formulario */

.formulario
{
	padding: 1em;
	text-align: right;
	display: none;
}

.formulario input
{
	border: 1px solid #888;
	border-radius: 5px;
	padding: 0.2em 0.6em;
}



